<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/css/common/index.css">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/auth/login.js" defer></script>
    <title>nodejs project</title>
</head>


<body>

<div class="login-page">

    <div class="login-form">
        <input type="text" id="email" placeholder="email"/>
        <input type="password" id="password" placeholder="password"/>

        <button id="loginBtn">로그인</button>

        <a class="register-link" href="/auth/register">Create an Account</a>

    </div>
</div>



</body>


</html>

