<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/css/common/index.css">
    <link rel="stylesheet" href="/css/register/register.css">
    <script src="/js/auth/register.js" defer></script>
    <title>nodejs project</title>
</head>


<body>

<div class="register-page">
    <h1>회원가입</h1>


    <div class="register-form">
        <input type="text" id="name" placeholder="활동명"/>
        <input type="text" id="email" placeholder="email"/>
        <input type="password" id="password" placeholder="password"/>
        <input type="password" id="confirmPassword" placeholder="password confirm"/>


        <button class="register-button" id="registerBtn" onclick="register()">가입하기</button>
        <p>Already registered? <a href="/login">login</a></p>

    </div>
</div>



</body>


</html>

