:root {
    --base-bg-color: #000000;
}

body {
    margin: 0;
}


/*
    button class
*/
button {
    border-radius: .25rem;
    border: none;
    background-color: #9A36FF;
    color: #ffffff;
    padding: 12px 0;
    cursor: pointer;
}

.icon-btn {
    background: transparent;
    padding: 2px;
}


h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}