:root {
    --base-bg-color: #2c3338;
}

body {
    margin: 0;
}


button {
    border-radius: .25rem;
    border: none;
    background-color: #9A36FF;
    color: #ffffff;
    padding: 12px 0;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}