
.register-page {
    height: 100vh;
    width: 100%;
    background-color: var(--base-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.register-page h1 {
    color: #ffffff;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.register-form input {
    padding: 12px 14px;
    border-radius: 0.25rem;
    margin-bottom: 12px;
}

.register-form p {
    color: #ededed;
}

.register-form p a {
    color: #F56EB3;
}

