<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodejs project</title>

    <link rel="stylesheet" href="/css/common/index.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/index.js" defer></script>
</head>


<body>
<section id="sectionFirst">
    <h1 title="PROLANCER LOGO"><span>PRO.</span>LANCER</h1>
    <div class="description">
        <p>
            <b>PRO.</b><span>LANCER</span> 는 영상 촬영과 편집을 전문으로 하는 <br class="mo"/>
            프리랜서들이 활동하는 플랫폼입니다. <br/><br/>

            클라이언트는 <br/>
            고품질의 영상 촬영과 편집, 비디오 콘텐츠 제작을<br/>
            원하는 프리랜서에게 의뢰할 수 있으며, <br/><br/>
            프리랜서는 자신의 기술, 경험에 따라 일을 수행하고, <br/>
            수익을 창출 할 수 있습니다.
        </p>
    </div>
</section>

<section id="sectionTwo">
    <div class="reveal">
        <h2>Client</h2>
        <div class="text-container">
            <div class="text-box">
                <h3>프로젝트 작성</h3>
                <p>
                    클라이언트는 <br/>
                    간단한 프로젝트 설명과 요구사항을 작성하여,<br class="mo"/>
                    원하는 프리랜서들에게 제안을 보낼 수 있습니다.
                </p>
            </div>
            <div class="text-box">
                <h3>프리랜서 검색</h3>
                <p>
                    클라이언트는 <br/>
                    키워드, 기술, 위치 등 다양한 필터를 이용하여,<br/>
                    자신의 요구에 맞는 프리랜서를 검색할 수 있습니다.
                </p>
            </div>
            <div class="text-box">
                <h3>Zero 수수료</h3>
                <p>
                    PRO.LANCER는<br/>
                    클라이언트와 프리랜서의 거래 수수료는<br />
                    <strong>0원 입니다.</strong>
                </p>
            </div>
        </div>


        <button class="find-pro" >프리랜서 찾으러 가기</button>
    </div>
</section>

<section id="sectionThree">
    <div class="container reveal">
        <h2>freelancer</h2>
        <div class="text-container">
            <div class="text-box">
                <h3>전용 도메인</h3>
                <p>
                    프리랜서는<br/>
                    빠르게 자신의 도메인을 생성하고, <br/>
                    포트폴리오를 만들 수있으며<br/>
                    홍보할 수 있습니다.
                </p>
                <small>예시) http://pro.lancer/name </small>
            </div>
            <div class="text-box">
                <h3>원하는 시간에</h3>
                <p>
                    프리랜서는<br/>
                    일정관리 캘린더로<br/>
                    원하는 시간에 일할 수 있습니다.
                </p>
            </div>
            <div class="text-box">
                <h3>저렴한 구독료</h3>
                <p>
                    프리랜서는<br/>
                    저렴한 월 구독료 만으로<br/>
                    자유로운 수익활동을 할 수 있습니다.
                </p>
            </div>
        </div>

        <button class="apply-pro">프리랜서 지원하기</button>
    </div>
</section>


</body>

</html>