

<div class="page-wrapper">
    <nav class="nav-wrapper" id="nav">
        <a class="nav-link collapsed" href="/admin/profile">
            프로필 정보
        </a>
    </nav>


    <h1>index</h1>
    <a href="/admin/dashboard">대시보드</a>
    <a href="/admin/test">테스트</a>
</div>
