<!DOCTYPE html>
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>nodejs project</title>
</head>


<body>



<h1>테스트 페이지</h1>
<a href="/admin/dashboard">대시보드</a>
<a href="/admin/test">테스트</a>

</body>

</html>